.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  max-width: 200px;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.lista-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
